&:host
  background-color #ffffff
  position relative
  border-radius 6px
  overflow hidden

  border-bottom 2px solid #e0e0e0

  //基本的には横幅の90% 最大で300pxでよさそう。
  width 90%
  max-width 300px
  min-height 200px
  padding-bottom 40px

  display flex
  flex-direction column

  transition height ease 0.2s

  margin-bottom 25px

  &:last-child

  &.expanded
    max-height none

  .eyecatch-image
    height 170px
    background-image url(https://jouhou.nagoya/wp/wp-content/uploads/2015/06/furnituredome.jpg)
    background-repeat no-repeat
    background-position center
    background-size cover
    flex none

  .title
    font-size 17px
    line-height 22px
    margin 10px 10px 5px 10px
    flex none

  .details
    font-size 14px
    line-height 18px
    margin 10px

  .more
    position absolute
    bottom 0
    left 0
    width 100%
    height 40px
    flex none

    .arrow-container
      height 26px
      width 26px
      border-radius 50%
      background-color #BEDF4A

    .arrow
      border-radius 10px
      height 14px
      width 14px
      fill white
      transition all ease 0.2s
      margin-top 1px

      &.close
        margin-top 0
        transform rotate(180deg)
