<div class="eyecatch-image" [ngStyle]="{'background-image': 'url(' + ((article.webContent||{}).image || (article.twitterContent || {}).UserDetails.ProfileImageUrl || '') + ')'}"></div>

<div class="title" *ngIf="article.webContent">{{article.webContent.title}}</div>
<div class="title" *ngIf="article.twitterContent">{{article.twitterContent.TweetText}}</div>

<div class="details" *ngIf="isExpanded && article.webContent">{{article.webContent.text}}</div>
<div class="details" *ngIf="isExpanded && article.twitterContent">{{article.twitterContent.TweetedBy}}</div>

<div class="more hc-flex-center" (click)="toggleAccordion()">
  <div class="arrow-container hc-flex-center">
    <svg class="arrow" [class.close]="isExpanded" viewBox="0 0 20 13">
      <path d="M0 2.8L2.7 0 10 7.4 17.3 0 20 2.8 10 13z"/>
    </svg>
  </div>
</div>
