/* You can add global styles to this file, and also import other style files */
body
  margin 0
  font-family 'Droid Sans',HiraKakuProN-W3,'ヒラギノ角ゴ ProN W3'
  line-height 1.6
  color #616161
  background-color #f5f5f5

a
  -webkit-tap-highlight-color:rgba(0,0,0,0);

//prefixのhcはhack-chuです
.hc-flex-center
  display flex
  align-items center
  justify-content center


//アプリのメインカラーをここに決める
$app-main-color = #489BC6;
$app-text-color = #616161;
$app-background-color = #f5f5f5;
